# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Logs
*.log
*.out
*.err

# Virtual environment
venv/
.env/
.venv/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Django
db.sqlite3
/media/
staticfiles/
*.pot
*.pyc

# Playwright
/playwright-report/
/playwright/.cache/
/test-results/

# Jupyter Notebook
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Cache
__pycache__/
.cache/
